/*
main.css

Organization:

[HELPERS]
    basic stuff, like add to invisble or disable none
[GLOBAL]
    global styling
        font
        font style
        colors
[BASE LAYOUT]
    base layout
        height / width
        margin and padding
        font size
        shadows
[MOBILE]
    mobile media queries and layout
[EXTERNAL]
    styling for external resources. ex icons and fonts
*/

/*---------------
    HELPERS
-----------------*/

.visible {opacity: 1;}
.invisible {opacity: 0;}
.none {display: none;}
.positionAbsolute {position: absolute;}
.positionStatic {position: static;}
.center {margin-left: auto; margin-right: auto;}

.imgMax160x160 {
    max-width: 160px;
    max-height: 160px;
}

.imgMax320x320 {
    max-width: 320px;
    max-height: 320px;
}

$primary_color: #7AADA6;
$secondary_color: #fda720;
$body_color: rgba(#fda720, 0.3);

$primary_font: "Press Start 2P", cursive;
$secondary_font: "Droid Sans Mono", sans-serif;

$mobile_xy: 500px;
$texture: http://i.imgur.com/5NGuyjJ.png

/*---------------
    GLOBAL
-----------------*/

a {
    cursor: inherit;
    color: purple;
    text-decoration: inherit; }

nav a {color: black;}
p a {color: purple; text-shadow: 0 0 0.05em purple;}
article a:hover {text-decoration: underline;}
h3 a {color: black;}
h3 a:hover {text-decoration: none; color: purple;}
h3 a {transition: color 0.33s;}
i {text-shadow: none;}

h1, h2, h3, h4, h5, p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-top: 0;
    margin-bottom: 0;
    color: black }

h3 {
    -webkit-margin-before: 10px;
    margin-bottom: 10px;
    text-shadow: 0 0 0.05em purple;}

html, body, .texture {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: white;
    overflow-x: hidden;
    font-family: $primary_font;
 }

.texture {position: fixed;}

.body_texture {
    background-image: url($texture);
    z-index: -1;
    opacity: 0.8;
}

nav button {
    position: relative;
    display: block;
    width: 100%;
    opacity: 0.7;
    border: none;
    text-align: right;
    background-color: $secondary_color;
    transition: color 0.5s, background-color 0.5s;
    &:hover {
        color: $primary_color;
        background-color: black;
    }
    &:active {
        color: black;
        background-color: $primary_color;
    }
}

nav {
    position: fixed;
    padding-top: 0;
    top: 0;
    left: 0;
    background-color: $primary_color;
}

h3 {
    text-align: center;
    background-color: $primary_color;
}
h4 {
    text-align: center;
    background-color: rgba($primary_color,0.7);
}

main {
    display: table;
    list-style-type: none;
    padding-top: 0;
    width: 100%;
}

article {background-color: $body_color;}

p, blockquote, ul {
    font-family: $secondary_font;
    background-color: rgba(255, 255, 255, 0.15);
}

ul {list-style-type: square;}

.heading {font-family: $primary_font}
.content {font-family: $secondary_font}

/*-------------------
    BASE LAYOUT
---------------------*/

//this media query is just for consistency
@media all {

    nav button {
    }

    nav {
    }

    main {
    }

    article {
    }

    p {
    }

    blockquote {
    }

    ul {
    }
}

/*---------------
    MOBILE
-----------------*/

@media all and (max-height: $mobile_xy), (max-width: $mobile_xy){

    html {font-size: 0.7em;}

    nav button {
    }

    nav {
    }

    main {
    }

    article {
    }

    p {
    }
}

/*---------------
    EXTERNAL
-----------------*/

.fa-linkedin {color: #4875B4;}
.fa-twitter {color: #33CCFF;}
.fa-skype {color: #12A5F4;}
.fa-envelope {color: gray;}
.fa-github {color: black;}
.fa-rss-square {color: orange;}
.fa {font-size: 1.5em;}

//TWITTER MADE ME DO IT >_<
.twitter-tweet {margin-left: auto !important; margin-right: auto !important;}
