<!DOCTYPE html>
<!-- base.html -->
<html class="js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
    <head>
		{% block head %}{% include 'head.html' %}{% endblock %}
	</head>
	<body>
		<div class="texture body_texture"></div>
        {% block navigation %}{% include 'nav.html' %}{% endblock %}
		{% block content %}
            {% autoescape false %}{{ html_content }}{% endautoescape %}
        {% endblock %}
		{% include 'analytics.html' %}
