<!--
An example nav!

<nav class='post'>
	<a href="{{ url_for('index') }}"><div id="name"><h1>{{ config.SITENAME }}</h1></div></a><br>
	<div id="me"><img src="{{ config.AVATAR }}" title="{{ config.AVATAR_DESC }}"></div>
	<a href="{{ url_for('index') }}"><button class="nav">Home</button></a>
</nav>
-->
