{% extends "base.html" %}
	{% block content %}
		<main class='post'><article class='post'>
                {% autoescape false %}{{ html_content }}{% endautoescape %}
        </article></main>
	{% endblock %}
